<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-wight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="singUpForm">
                            <div class="form-group py-3">
                                <div class="input-field" [class.error]="singUpForm.controls['firstName'].dirty && singUpForm.hasError('required','firstName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstName" type="text" placeholder="FirstName">
                                </div>
                            </div>
                            <small *ngIf="singUpForm.controls['firstName'].dirty && singUpForm.hasError('required','firstName')"  class="text-danger">*FirstName is required</small>
                            <div class="form-group py-3">
                                <div class="input-field" [class.error]="singUpForm.controls['lastName'].dirty && singUpForm.hasError('required','lastName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastName" type="text" placeholder="LastName">
                                </div>
                            </div>
                            <small *ngIf="singUpForm.controls['lastName'].dirty && singUpForm.hasError('required','lastName')" class="text-danger">*LastName is required</small>
                            <div class="form-group py-3">
                                <div class="input-field" [class.error]="singUpForm.controls['email'].dirty && singUpForm.hasError('required','email')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="singUpForm.controls['email'].dirty && singUpForm.hasError('required','email')" class="text-danger">*Email is required</small>
                            <div class="form-group py-3">
                                <div class="input-field" [class.error]="singUpForm.controls['username'].dirty && singUpForm.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Username">
                                </div>
                            </div>
                            <small *ngIf="singUpForm.controls['username'].dirty && singUpForm.hasError('required','username')" class="text-danger">*Username is required</small>
                            <div class="form-group py-3">
                                <div class="input-field" [class.error]="singUpForm.controls['password'].dirty && singUpForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="singUpForm.controls['password'].dirty && singUpForm.hasError('required','password')" class="text-danger">*Password is required</small>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSingup()">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
